%div{:id => "step_outer_#{step_no}", :class => step.exit_code == 0 ? "status_build_ok output_box" : "status_build_failed output_box"}
  .command_box
    %tt.command= "#{step.command}"
  - if step.exit_code.nil?
    %br
    %tt.command= "Task was not executed"
  - elsif step.exit_code != 0
    %br
    %tt.command= "Exit code: #{step.exit_code}"
  - if !step.exit_code.nil? and step.has_output?
    %pre
      - test_totals = [0,0,0,0]
      - step.all.each do |type, text|
        - if (type != BigTuna::Runner::Output::TYPE_STDERR or params[:stderr])
          - txt_line = strip_shell_colorization(text)
          - test_totals = match_test_summary_line(txt_line, test_totals)
          - txt_line = txt_line[1..-1].html_safe if txt_line[0] == ?!
          %span{:class => "#{type} #{css_class_for_line(txt_line)}"}= txt_line
      - if test_totals.first > 0
        %span{:class => "stdout sbwtf"}= " == Test totals: %d tests, %d assertions, %d failures, %d errors" % test_totals
%br
